@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F3E5D8;
}

.container {
    margin: 10% 22%;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 30px;
}

.container-img {
    margin-bottom: 25px;
}

img {
    width: 100%;
    border-radius: 16px;
}

.introducao {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 22px;
}

.introducao-titulo {
    font-family: "Young Serif", sans-serif;
    color: #2A2A2A;
}

.introducao-paragrafo {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 0,875em;
    color: #54514f;
}

.preparacao {
    padding: 20px;
    background-color: #FFF7FC;
    border-radius: 6px;
}

.preparacao-titulo {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 10px;
    color: #8a1948;
}

.preparacao-lista {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 0,875em;
    color: #54514f;
}

.ingredientes {
    margin-top: 30px;
}

.ingredientes-titulo, .instrucoes-titulo, .nutricao-titulo {
    font-family: "Young Serif", sans-serif;
    font-weight: 400;
    color: #814332;
    margin-bottom: 20px;
}

.ingredientes-lista, .instrucoes-lista {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 0,875em;
    color: #54514f;
}

.linha-divisoria {
    margin: 30px 0 30px 0;
}

.nutricao-texto {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 0,875em;
    color: #54514f;
}

.etiqueta-nutricional {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: #54514f;
}

.item-nutricional {
   display: flex;
   justify-content: space-around;
   margin: 20px;
}

.categoria-nutricional {
    font-size: 0,875em;
    margin-right: 40%;
}

.valor-nutricional {
    margin-right: 40%;
    color: #814332;
}

.rodape {
    padding: 10px;
    text-align: center;
    background-color: #2A2A2A;
    color: #ffffff;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 0,875em;
}

a {
    color: #ffffff;
}

@media only screen and (max-width: 690px) {
    .container {
        margin: 0;
        padding: 0 0 10%;
        border-radius: 0;
        background-color: #ffffff;
    }
    
    img {
        border-radius: 0;
    }

    .introducao, .preparacao, .ingredientes, .instrucoes-titulo, .instrucoes-lista, .etiqueta-nutricional, .nutricao-titulo, .nutricao-texto {
        padding: 0 30px 0;
    }

    .linha-divisoria {
        margin: 30px;
    }
}